@import 'constant';

.excel-grid{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    padding-left: 37px;
    padding-top: 25px;
    .grid-table{
        border-spacing: 0;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        .grid-row {
            display: table-row;
            &.header{
                height: 25px;
                .grid-cell{
                    background-color: $HEADER_COLOR;
                    text-align: center;
                    &.selected{
                        background-color: $SELECT_HEADER_COLOR;
                        color: $SELECT_BORDER_COLOR;
                        border-bottom-color: $SELECT_BORDER_COLOR;
                    }
                }
            }
            &.guide{
                .grid-cell{
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
        .grid-cell {
            display: table-cell;
            background-color: $CELL_COLOR;
            border-bottom: 1px solid $BORDER_COLOR;
            border-right: 1px solid $BORDER_COLOR;
            padding: 3px;
            vertical-align: bottom;
            white-space: nowrap;
            overflow: hidden;
            &.editing-cell{
                padding: 0;
            }
            input{
                border-radius: 0;
                outline: none;
            }
            &.selected{
                background-color: $SELECT_CELL_COLOR;
            }
        }
        &.header-column{
            position: absolute;
            width: 30px;
            left: 0;
            padding-top: 1px;
            z-index: 10;
            .grid-cell {
                &.selected{
                    background-color: $SELECT_HEADER_COLOR;
                    color: $SELECT_BORDER_COLOR;
                    border-right-color: $SELECT_BORDER_COLOR;
                    border-bottom-color: $BORDER_COLOR !important;
                }
            }
        }
        &.fixed{
            position: absolute;
            top: 0;
            z-index: 10;
        }
    }
    .scroller{
        overflow: auto;
        height: 100%;
    }
    .diagonal-cell{
        position: absolute;
        z-index: 12;
        top: 0;
        left: 0;
        background-color: $HEADER_COLOR;
        border-bottom: 1px solid $BORDER_COLOR;
        border-right: 1px solid $BORDER_COLOR;
        padding: 3px;
    }
    .selected-box{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: none;
        .top-border{
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $SELECT_BORDER_COLOR;
            top: 0;
            left: 0;
            cursor: move;
        }
        .left-border{
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: $SELECT_BORDER_COLOR;
            top: 0;
            left: 0;
            cursor: move;
        }
        .bottom-border{
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $SELECT_BORDER_COLOR;
            bottom: 0;
            left: 0;
            cursor: move;
        }
        .right-border{
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: $SELECT_BORDER_COLOR;
            top: 0;
            right: 0;
            cursor: move;
        }
        .box-selector{
            bottom: 0;
            right: 0;
            width: 4px;
            height: 4px;
            position: absolute;
            cursor: move;
            background-color: $SELECT_BORDER_COLOR;
        }
    }
}