@import 'constant';

.excel-grid{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    .grid-table{
        border-spacing: 0;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        .grid-row {
            display: table-row;
            &.header{
                height: 25px;
                .grid-cell{
                    background-color: $HEADER_COLOR;
                    text-align: center;
                }
            }
            &.guide{
                .grid-cell{
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
        .grid-cell {
            display: table-cell;
            background-color: $CELL_COLOR;
            border-bottom: 1px solid $BORDER_COLOR;
            border-right: 1px solid $BORDER_COLOR;
            padding: 3px;
            vertical-align: bottom;
            &.editing-cell{
                padding: 0;
            }
            input{
                border-radius: 0;
            }
        }
    }
    .scroller{
        overflow: auto;
        height: 100%;
    }
    .init-cell{
        background-color: $HEADER_COLOR !important;
        text-align: center;
        width: 30px;
    }
}